*{
    margin: 0;
}
.bgactive{
    /*background-image: url("pier.jpg");
    background-image: url("url.png");
    background-image: url("sf.jpg");*/
    background-image: url("pier2.jpg");    
    
    background-repeat:no-repeat;
   	background-size:cover;
    background-color: grey;
    color: white;
}
.logoactive{
    top: 10px;    
    left: 25px;
    background-image: url("logotransparente.png");
    background-repeat:no-repeat;
    background-size: 20%;
    color: white;
}
.logoactive:hover{
    top: 10px;    
    left: 25px;
    background-image: url("logotransparente.png");
    background-repeat:no-repeat;
    background-size: 20%;
    color: white;
    opacity: 0.65;
}
.owner-picture{
    background-image: url("owner.jpg");
    background-size: 60%;
    background-repeat:no-repeat;
    color: white;
    opacity: 0.65;
    margin: 0% 0 0 15%;
}
.owner-picture:hover{
    background-image: url("owner.jpg");
    background-size: 60%;
    background-repeat:no-repeat;
    color: white;
    opacity: 1;
    margin: 0% 0 0 15%;
}
.fill-width-inline{ /*div use all height*/
    min-height: 100%;
    display: flex;
    > div{
        flex:1;
        display: flex;
    }
}
/*align divs*/
.leftdiv{ /*horinzontal div left side*/
    background-color: transparent;
    min-height: 100%;
    min-width: 25%;
}
.rightdiv{ /*horinzontal div right side*/
    background-color: transparent;
    min-height: 100%;
    min-width: 75%;
}
.top10{
    min-height: 10%;
}
.top25{
    min-height: 25%;
}
.bop10{
    min-height: 10%;
}
.bot55{
    min-height: 55%;
}
.bot65{
    min-height: 65%;
}
.bot75{
    min-height: 75%;
}
.mid25{
    min-height: 25%;
}
.mid35{
    min-height: 35%;
}
.mid70{
    min-height: 80%;
}
.left30{
    min-width: 30%;
}
.rigth70{
    min-width: 70%;
}
.alignrigth{
    position: absolute;
    top: 20px;
    right: 30px;
}
.rightbotalign{ /*div align to bot and right*/
    position: absolute; 
    bottom: 10px;    
    right: 25px;
}
.sidemenu{
    margin: 25% 0 0 15%;
    max-width: 50%;
}
.list-item-button{
    margin-top: 10%;
    border: 1px solid grey;
    border-radius: 7px;
    color: black;
    background-color: white;
    opacity: 0.4;
}
.list-item-button:hover{
    border: 2px solid black;
    color: black;
    background-color: grey;
    opacity: 0.7;   
}
.list-item-button:visited{
    margin-top: 10%;
    border: 1px solid grey;
    border-radius: 7px;
    color: white;
    background-color: grey;
    opacity: 0.4;   
    text-decoration: none;
}
.list-item-button:link{
    margin-top: 10%;
    border: 1px solid grey;
    border-radius: 7px;
    color: white;
    background-color: grey;
    opacity: 0.4;   
}
.list-item-button:active{
    margin-top: 10%;
    border: 1px solid grey;
    border-radius: 7px;
    color: white;
    background-color: grey;
}
.90transparent{
    opacity: 0.9;   
}
.with-borders{
    border: 1px solid black;
    border-radius: 7px;
    top: 10%;
    min-height: 65%;
    max-width: 85%;
    margin-left: 10%;
    background-color: grey;
    text-indent: 2%;
    opacity: 0.6;   
}
.with-borders:hover{
    border: 1px solid black;
    border-radius: 7px;
    top: 10%;
    min-height: 65%;
    max-width: 85%;
    margin-left: 10%;
    background-color: grey;
    text-indent: 2%;
    opacity: 0.9; 
}